#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: List popular languages for Data Science

Some of the popular languages that Data Scientists use are:

Python
R 
SQL 
Scala
Java
C++
Julia

Some of the commonly used libraries used by Data Scientists include:

Pandas 
NumPy
Matplotlib
Seaborn

Data Science Tools: 

MySQL
PostgreSQL
IBM Db2
MongoDB
Apache Cassandra
Apache Hadoop
Apache Spark
Cognos Analytics
PowerBI

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
min = 200
hours = min // 60
print(hours) # Output: 3

3

In [ ]:
## Autor
Timur Kubekov